body {
  background-image: url('./assets/bg_start.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-front {
  color: #fcfcfc;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight: 600;
  border: 20px solid rgb(36, 75, 87);
  border-radius: 25%;
  padding: 50px;
  background-color: black;
  opacity: 70%;
  transition: all 0.3s ease-out;
}

.header-front:hover {
  color: #ffffff;
  background-color: #097583;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  font-weight: 900;
  border: 20px solid rgb(9, 39, 49);
}

h2 {
  color: #e1f14d;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  font-weight: 900;
  margin-top: 10px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto 0;
}

.input-text {
  margin-bottom: 2px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(247, 236, 178);
}

.input {
  margin: 5px 0 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid#0fbcf9;
}

.input:focus {
  outline: none;
}

.submit {
  background-color: #0fbcf9;
  color: white;
  font-size: 30px;
  font-weight: 600;
  padding: 5px 0;
  border: 5px solid white;
  border-radius: 50px;
  transition: all 0.3s ease-out;
}

.submit:hover {
  color: #0fbcf9;
  background-color: white;
  cursor: pointer;
  border: 5px solid #0fbcf9;
  border-radius: 50px;
}

.submit:focus {
  outline: none;
  border-color: #553307;
}
